extends layout

block content
  .mdl-layout.mdl-js-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header.mdl-color--blue-500.mdl-color-text--white
      .mdl-layout__header-row
        span.mdl-layout-title
          img(src="/images/gf_name.svg").logo
          img(src="/images/gf_logo.svg").logo
        .mdl-layout-spacer
        button#hdrbtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--ico
          i.material-icons more_vert
        ul.mdl-menu.mdl-js-menu.mdl-js-ripple-effect.mdl-menu--bottom-right(for="hdrbtn")
          li.mdl-menu__item About
          li.mdl-menu__item Contact
          li.mdl-menu__item Legal

    main.mdl-layout__content.mdl-color--grey-100
      .mdl-grid.demo-content

        .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .mdl-card__title.mdl-card--expand.mdl-color--white.mdl-card-chart.mdl-card-chart-center
              #gaugeChart
            .mdl-card__supporting-text.mdl-color-text--grey-600 Gallons Per Minute

        .mdl-cell.mdl-cell--8-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--8-col.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
            .mdl-card--expand.mdl-color--white.mdl-card-chart
              #lineChart
            .mdl-card__supporting-text.mdl-color-text--grey-600 Inlet Flow

        .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .mdl-card__title.mdl-card--expand.mdl-color--white
              .mdl-card-center-container
                span#ph.superh1 -
                span.mdl-card-icon.super2 pH
            .mdl-card__supporting-text.mdl-color-text--grey-600 pH Sensor Data
              img(src="/images/icons/ic_info_black_24px.svg")#info.mdl-card-icon
        .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .mdl-card__title.mdl-card--expand.mdl-color--white
              .mdl-card-center-container
                span#temp.superh1 -
                span.mdl-card-icon.super2 C
            .mdl-card__supporting-text.mdl-color-text--grey-600 Temperature
        .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-tablet.mdl-grid.mdl-grid--no-spacing
          .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--4-col.mdl-cell--4-col-tablet.mdl-cell--12-col-desktop
            .mdl-card__title.mdl-card--expand.mdl-color--white
              .mdl-card-center-container
                span#mv.superh1 -
                span.mdl-card-icon.super2 mV
            .mdl-card__supporting-text.mdl-color-text--grey-600 Millivolts

    .popup.centered
      span.ok-reply.centered
      h4 Additonal Information
      p Sensor Part Number: part number goes here
      p Location: location goes here
      p Install Information: installation goes here
      p Calibration Information: calibration goes here
      .button.ok.transition.active OK
