body {
  font: "Roboto", "Helvetica", sans-serif;
}

a {
  color: #00B7FF;
}

.mdl-layout-title .logo {
  height: 24pt;
  opacity: 1;
  padding-right: 10pt;
}

.layout-separator {
  height: 16px;
}

.mdl-card-center-container {
  width: 100%;
  text-align: center;
}

.mdl-card-center-container span.superh1 {
  font-size: 100pt;
  text-align: center;
  width: 100%;
}

.mdl-card-center-container span.super2 {
  font-size: 48pt;
  opacity: .2;
  padding: 25% 0;
}

.mdl-card {
  min-height: 125px;
}

.mdl-card .mdl-card__supporting-text {
  background-color: #F5F5F5;
  width: 100%;
}

.mdl-card .mdl-card-header {
  text-align: center;
  width: 100%;
  margin: 0;
}

.mdl-card-chart-center {
  display: block;
  margin: auto;
}

img.mdl-card-icon {
  height: 28pt;
  position: absolute;
  right: 10px;
  bottom: 6px;
}

@media (max-width: 1024px) {
  .mdl-card-center-container span.superh1 {
    font-size: 44pt !important;
  }

  .mdl-card-center-container span.super2 {
    font-size: 32pt !important;
  }
}

.chart-container {
  margin: 20pt;
}